<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 디버그 빌드는 런처에서 release 와 구분되도록 이름에 표시를 붙인다. 아이콘의 "디버그" 띠는 src/debug/res/mipmap-* 가 덮어쓴다. -->
    <application
        android:label="@string/debug_app_name"
        tools:replace="android:label">
        <activity
            android:name="com.dandi.nyummy.main.presentation.catalog.DesignSystemCatalogActivity"
            android:exported="true"
            android:label="Nyummy Design System Catalog"
            android:theme="@style/Theme.Dandi" />

        <activity
            android:name="com.dandi.nyummy.main.presentation.catalog.NyummyDsCatalogActivity"
            android:exported="true"
            android:label="Nyummy DS Catalog"
            android:theme="@style/Theme.Dandi" />

        <activity
            android:name="com.dandi.nyummy.debug.SpriteDebugActivity"
            android:exported="true"
            android:label="Nyami Sprite Debug"
            android:theme="@style/Theme.Dandi" />
    </application>

</manifest>
